.container {

    .playlists-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;

        .playlist-container {
            width: 60%;
        }
    }
}